{% extends "base.html" %}

{% load staticfiles %}
{% block title %}Создать пост{% endblock %}


{% block header %}
      {% include "head.html" %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Добро пожаловать {{ username }}</a></li>
        <li><a href="/hello/">Выход</a></li>
      </ul>
{% endblock %}

{% block content %}

 <div class="container">
    <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class = "container"> 

          <div class="inner cover">
            <div class="row">
              <form action="/create_post/" method="POST">    
                
                <div class="example_code">
                  <div class="col-sm-7">


                    <h3>Ваш токен </h3>
                    <h5><div>{{ token }}</div> </h5> 
                    {{form.Text}}     
                      
                    <br> 
                    <input class="btn btn-lg btn-default" type="submit" value="Отправить">
                    <br> 
                  <h5>{{ message }}</h5> 
                  {% if form.Text.errors %}
                        <h5>Введите текст </h5>
                    {%  endif %}
                    {% if form.POST.errors %}
                        <h5>Выберите группу</h5>
                    {%  endif %}
                  </div>       

                  <div class="col-sm-4" > 
                    <div class="container">               
                      {{form.POST}} 
                    </div>    
                  </div>

                </div>
              </form>
                            
            </div>
          </div>
        </div>
      </div>
  </div>

{% endblock %}