{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Главная страница{% endblock %}

{% block header %}
    {% include "head.html" %}
    {% include "auth.html" %}
{% endblock %}
{% block content %}

<div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        {% if not user.is_authenticated %}
                <div class = "container"> 
                    <div class="inner cover">
                        <h1 class="cover-heading">Сервис постинга в Facebook.</h1>
                            <p class="lead">Сервис предоставляет пользователю совершать постинг сообщений на страницу пользователя, публичную страницу или группу.</p>
                    {% endif %}

                    {% if user.is_authenticated %} 
                        <a href="/create_post/"class="btn btn-lg btn-2">Создать пост</a>
                    {% endif %}
                    </div>
                </div>
      </div>
</div>

{% endblock %}